<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EnableMock" value="true"/>
    <add key="MinTrafficLatency" value="1000"/>
    <add key="MaxTrafficLatency" value="5000"/>
  </appSettings>
</configuration>